body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.main-content {
    background-image: linear-gradient(#681b81, #271c3a);
    width: 100%;
    height: 1500px;
}


/*
    ===============
    HEADER
    ===============
*/

header {
    height: 110px;
}

nav {
    position: relative;
    top: 40px;
    width: 88%;
    height: 50px;
    margin: auto;
}

.logo {
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-size: 65px;
    display: inline-block;
    height: 50px;
    width: 65px;
}

.links-container {
    float: right;
    margin: 10px 90px 0 0;
}

.links {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    margin-right: 45px;
}

.links:hover {
    color: #df06ac;
}

.links:nth-child(2) {
    margin-right: 15px;
}

.links:last-child {
    border-radius: 8px;
    border: 1px solid #fff;
    margin: 0;
    padding: 10px 15px;
}


/*
    ===============
    FORM
    ===============
*/

.form {
    background-color: #fff;
    float: right;
    position: relative;
    top: 60px;
    width: 560px;
    padding: 55px;
}

.form h1 {
    font-size: 40px;
    color: #352384;
    width: 300px;
    margin: 0;
}

.form h2 {
    font-weight: 100;
    font-size: 15px;
    color: #352384;
    margin: 5px 0 30px 0;
}

.sign-up {
    margin-top: 18px;
}

.sign-up-data {
    font-size: 16px;
    font-weight: 100;
    color: #352384;
    border: 0;
    border-bottom: 1px solid #352384;
    padding: 0 0 5px 0;
    outline: none;
}

#phone-number {
    width: 100%;
}

.bot-form {
    color: #9d9d9d;
}

#sign-up-btn {
    background-color: #ff00bf;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    margin: 20px 15px 10px 0;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
}

.bot-form p {
    font-size: 10px;
}

.bot-form a {
    color: #ff00bf;
    text-decoration: none;
}

#sign-up-link {
    color: #9d9d9d;
    text-decoration: underline;
}

#sign-up-link:hover,
.bot-form a:hover {
    color: #df06ac;
    text-decoration: underline;
}