body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 3000px;
}


/*
    ===============
    HEADER
    ===============
*/

header {
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 6;
}

nav {
    position: relative;
    top: 40px;
    width: 88%;
    height: 50px;
    margin: auto;
}

video {
    position: absolute;
    width: 1349px;
    top: -110px;
}

#logo {
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-size: 65px;
    display: inline-block;
    height: 50px;
    width: 65px;
}

.links-container {
    float: right;
    margin: 10px 90px 0 0;
}

.links {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    margin-right: 45px;
}

.links:hover {
    color: #df06ac;
}

.links:nth-child(2) {
    margin-right: 15px;
}

.links:last-child {
    border-radius: 8px;
    border: 1px solid #fff;
    margin: 0;
    padding: 10px 15px;
}

.links:last-child:hover {
    color: #fff;
}

.header-white {
    background-color: #fff;
}

.links-down {
    font-size: 19px;
    color: #737481;
    text-decoration: none;
    margin-right: 45px;
}

.links-down:hover {
    color: #df06ac;
}

.links-down:nth-child(2) {
    margin-right: 15px;
}

.links-down:last-child {
    border-radius: 8px;
    border: 1px solid #d8dce6;
    margin: 0;
    padding: 10px 15px;
}

.links-down:last-child:hover {
    color: #737481;
}

#link5 {
    color: #ff00bf;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #ff00bf;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px 15px;
}


/*
    ===============
    FORM
    ===============
*/

.form {
    background-color: #fff;
    float: right;
    position: relative;
    top: 110px;
    width: 560px;
    padding: 55px;
    z-index: 5;
}

.form h1 {
    font-size: 40px;
    color: #352384;
    width: 300px;
    margin: 0;
}

.form h2 {
    font-weight: 100;
    font-size: 15px;
    color: #352384;
    margin: 5px 0 30px 0;
}

.sign-up {
    margin-top: 18px;
}

.sign-up-data {
    font-size: 16px;
    font-weight: 100;
    color: #352384;
    border: 0;
    border-bottom: 1px solid #352384;
    padding: 0 0 5px 0;
    outline: none;
}

#phone-number {
    width: 100%;
}

.bot-form {
    color: #9d9d9d;
}

#sign-up-btn {
    background-color: #ff00bf;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    margin: 20px 15px 10px 0;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
}

.bot-form p {
    font-size: 10px;
}

.bot-form a {
    color: #ff00bf;
    text-decoration: none;
}

#sign-up-link {
    color: #9d9d9d;
    text-decoration: underline;
}

#sign-up-link:hover,
.bot-form a:hover {
    color: #df06ac;
    text-decoration: underline;
}


/*
    ===============
    MAIN CONTENT
    ===============
*/

.main-content {
    clear: both;
    background-image: linear-gradient(#681b81, #2c1e66);
    color: #fff;
    box-shadow: 0 0 100px 50px #681b81;
    position: relative;
    top: 70px;
    height: 700px;
    padding: 100px 160px;
    margin: 0;
}

.info {
    display: block;
    width: 450px;
    margin: 0;
    float: left;
}

.info div {
    margin-bottom: 70px;
}

.info div:last-child {
    margin: 0;
}

.info h1 {
    font-size: 28px;
}

.info p {
    font-size: 17px;
    font-weight: 100;
}

.bot-info h1 {
    margin: 0;
}

.main-content img {
    float: right;
    height: 500px;
}


/*
    ===============
    WATCH CONTENT
    ===============
*/

.watch-content {
    background-color: #fff;
    position: relative;
    top: 70px;
    height: 480px;
}

.content {
    color: #333447;
    width: 36.7%;
    padding: 30px 50px;
}

.content h1:first-child {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

.content h1:nth-child(2) {
    margin: 0 0 20px 0;
}

.content p {
    width: 365px;
}

.left {
    float: left
}

.right {
    float: right;
}


/*
    ===============
    FOOTER
    ===============
*/

footer {
    background-color: #333447;
    color: #fff;
    position: relative;
    top: 70px;
    height: 550px;
    padding: 40px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #df06ac;
    text-decoration: underline;
}

.footer-main {
    float: left;
    width: 750px;
    margin: 10px 0 60px 100px;
}

.footer-main h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer-main h2:hover {
    text-decoration: underline;
}

.footer-main a {
    display: block;
    margin-bottom: 40px;
}

.footer-main a:last-child {
    margin: 0;
}

.footer-content {
    display: inline-block;
    margin-right: 150px;
}

.download {
    float: right;
    margin-right: 200px;
}

.download img {
    display: block;
    height: 40px;
    margin: 40px;
}

.download img:last-child {
    height: 50px;
}

.social-media {
    text-align: center;
    border-bottom: 1px solid #fff;
    width: 750px;
    margin: auto;
    padding: 20px;
}

footer p {
    text-align: center;
}

.social-media {
    clear: both;
    margin-bottom: 40px;
}

.social-media a:hover {
    color: #fff;
    text-decoration: none;
}

.round {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 50px;
    padding: 5px;
}